body {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/* sizes */
.largest {
    font-size: 48px;
}

.large {
    font-size: 36px
}

.medium {
    font-size: 24px;
}

.small {
    font-size: 18px;
}


/*colours */

.background-1 {
    background-color: #1F2937;
    ;
}

.background-2 {
    background-color: #E5E7EB;
}

/* font color */
.font-color-1 {
    color: #F9FAF8
}

.font-color-2 {
    color: #E5E7EB;
}

.font-color-3 {
    color: #1F2937
}

.font-color-4 {
    color: #1F2937;

}

.button-color {
    background-color: #3882F6;
}

.weight {
    font-weight: 900;
}

/* hero section */

.logo {
    margin-top: 36px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    font-family: Roboto;

}

.nav {
    display: flex;
    justify-content: space-around;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;

}

li {
    padding: 16px;
    gap: 16px;
}

.img {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
}

.photo {
    height: 220px;
    width: 500px;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
}

.text p {
    margin-top: 0px;
}

.text h1 {
    margin-bottom: 0px;
}

.imgbutton {
    align-self: flex-start;
    width: auto;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#3882F6;
    
    border:1px,solid,#F9FAF8;

}

/* info section */

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 50px;

}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: 0px;

}

.square {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: solid, 3px, #3882F6;
}

/*Quote section*/

.quote {
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.zeroMargin {
    margin: 0;
}

.flexEnd {
    align-self: flex-end;
}

/*action*/

.action {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    width: 50%;
    margin-bottom: 5%;
    padding: 2%;
    margin-top: 4%;
    padding-bottom: 10px;
    border-radius: 10px;
    gap:1%
}

.card div p {
    color: white;
    margin: 0;

}

.actionButton {
    align-self: flex-end;
    margin-bottom: 5%;
    width: 100px;
    background-color:#3882F6;
    border-radius: 10px;
    border:1px,solid,#F9FAF8;

}

footer{
    text-align: center;
    background-color: #F9FAF8;
}